.interveners-list-box{

	display:inline-block;width: 1247px;

	intervener-list{width:1255px;}
	.bk-table table tfoot td{padding: 0 0 5px 0;height:40px;}
	.intervenerList {
		.bk-table {
			tfoot {
				
				.form-inline {
					float: left;
					margin: 7px 0 0 7px;
					display: inline-block;
					
					.form-group.output {
						vertical-align: inherit;	
						margin-bottom: 0;
						margin-right: 0!important;
						span {
							height: 25px;
							line-height: 23px;
							width: 123px;
							overflow: initial!important;
							margin-right: 0px;
						}
					}
				}
				tr {
					border: 1px solid #dbdbdb;
					td .bk-buttonbar {
						background-color: #f6f6f6;
					}
				}
			}
			
		}
	}

}