.payment-box h2{font-size: 14px;font-weight: normal!important;margin: 0 0 12px 0;}    
.payment-box input[type=radio]{margin: 7px 6px 0px 0;}
.payment-box .method-box{margin-top: 97px; margin-left: 44px;}
.payment-box .method-box input{padding: 0 2px;margin: -2px;height:25px }
.payment-box label{vertical-align: text-bottom;}
.payment-box{
	width:460px;height:250px;display:inline-block;vertical-align:top;margin: 0 14px 0 0;padding: 12px 5px;
	}
