.reason-box{
	padding:3px 7px;box-sizing:border-box;width:460px;height:110px;display:inline-block;vertical-align:top;margin: 10px 14px 10px 0;
	.select-box{margin-bottom:5px;}
	.output.ib{margin-right:10px;}
	.output .text{line-height:13px;}
}