.simulation-box{
	padding: 8px 6px;width:770px;height:370px;display:inline-block;vertical-align:top;margin-top: 10px;float:right;
	h2{font-size: 14px;font-weight: normal!important;margin: 0 0 12px 0;}
	.form-group-first{margin-right: 3px!important;}
	.no-title{vertical-align:bottom;margin-right:15px;}
	.simulation-row{margin-left:185px;}

}