<div class="col-1920-10">
  <div id="commonData" class="clearfix bk-box-context">
    <!-- <div class="content"> -->
      <div class="related-fields bottom-10">
        <div class="form-group output">
          <strong>Entidad:</strong>
          <span class="w-132">{{(vm.entities | filter:{CODALFA: vm.data.entityId})[0].DESCORTA}}</span>
        </div>
        <div class="form-group output">
          <strong>Oficina:</strong>
          <span class="w-43">{{vm.data.officeId}}</span>
        </div>
        <div class="form-group output">
          <strong>Producto comercial:</strong>
          <span class="w-330">{{vm.data.productName}}</span>
        </div>
        <div class="form-group output">
          <strong>Número de contrato / IBAN:</strong>
          <span class="text-right w-174">{{vm.data.contractId}}</span>
        </div>
        <div class="form-group output">
          <strong>Moneda:</strong>
          <span class="w-40">{{(vm.currencies | filter:{CODIGO: vm.data.currencyId || null})[0].DESCORTA}}</span>
        </div>
        <div class="form-group output">
          <strong>F.apertura:</strong>
          <span class="w-87">{{vm.data.openingDate | date :'dd/MM/yyyy'}}</span>
        </div>
        <div class="form-group output">
          <strong>Nombre y apellidos del primer titular:</strong>
          <span class="w-275">{{vm.data.firstIntervenerName}}</span>
        </div>
      </div>
    <!-- </div> -->
</div>
