
//1 Variables para fuentes e inconos de font-awesome
$fa-font-path: "../node_modules/font-awesome/fonts";
//2 Import para fuentes e iconos de font-awesome
@import '../node_modules/font-awesome/scss/font-awesome.scss';
//3 Dependencias de terceros 
@import '../node_modules/bootstrap-vue/dist/bootstrap-vue';
@import '../node_modules/bootstrap/scss/bootstrap';
// @import '../node_modules/bootstrap/dist/css/bootstrap.css';
// @import '../node_modules/mdbootstrap/css/mdb.css';
//4 Estilos comunes para toda la aplicacion
