$background-color: $gray-lightest;
$module1-color: $standard-white;
$module2-color: $gray-medium;
$module3-color: $gray-light;
$border-color: $neo-border-color;
$module-border: $neo-text-input-border;
$font-color: $brand-primary;
$output:$neo-text-input-disabled-background-color;
$light-grey: $grey-light;
$green-lime: $green-dark;
$green-lime-light: $green-lime;
