.impediments {
	background-color: #f1f1f1;

  .button-right{margin-top: 17px!important;text-align: right!important;margin-right: 32px;border-top: 1px solid #ddd;padding-top: 13px;}
  .button-right button{margin-right: 5px;}
  .button-right a{float: left;}

  #commonData {   
	padding: 8px 10px 1px;   
	.related-fields {display: table;}   
	.form-group {margin-right: 15px;       
	&.output span {padding: 4px 0 0 6px;height: 26px;}     
	}}

}
