#commonData {
    
  padding: 8px 10px 1px;
  margin-bottom:22px;
  .related-fields {
  	display: table;
  }
  .form-group {
      margin-right: 15px;
      &.output span {
      	padding: 4px 0 0 6px;
      	height: 26px;
      }
    }
	
}
.bk-table .scrollable-body {min-height: 261px;}
#intervenerSearch .form-group.output input[type="text"]{width: 295px;}
.col-1920-5{width:807px;}
.at-body {overflow-x: hidden;}
.sip .task-menubar {position: absolute; bottom: 0px;border-top: 1px solid #ddd;}
.footer-img{width:1600px;}
.intervenerList .bk-table tfoot .form-inline{margin:0 0 0 7px;}
.intervenerList .bk-table tfoot .form-inline .form-group.output{padding-top:5px;}
.intervenerList .bk-table tfoot .form-inline .form-group.output *{vertical-align:middle;}
.sip .task-menubar .task-menubar-right-section{padding:10px 13px;height:40px;}
.sip .task-menubar .task-menubar-left-section {padding:10px 16px;height:40px;}
