.impediments-box {
    display: inline-block;
    width: 1260px!important;
    padding-right: 10px;
}

.bk-table {
    padding: 0!important;
    width: 1250px!important;
    .scrollable-body {
        min-height: 460px;
        overflow-y: scroll;
    }
    .bki-success:before {
        content: "\e0cc";
        color: #c4d600!important;
        font-size: 14px;
        margin: 0 5px 0 10px;
    }

    .table {
        tbody tr {
            td {
                background-color: #fff;
                border-bottom: 1px solid #ddd;
                border-left: none!important;
                border-right: none!important;
            }
            th {
                border-left: none!important;
                border-right: none!important;
            }
        }
        tbody tr:first-child td {
            background-color: #f1f1f1!important;
        }
        td {
            height: 40px!important;
            vertical-align: middle!important;
        }
        tr:first-child td {
            height: 30px;
        }

        tfoot tr td {
            background-color: #ecebeb!important;
            padding-right: 20px!important;
            input[type=checkbox] {
                vertical-align: middle;
                margin: 0 5px 0 0;
            }
        }
        thead {
            border: none;
            th {
                height: 34px;
                vertical-align: middle!important;
                text-decoration: underline!important;
            }
            tr th:before,
            tr td:before {
                display: none;
            }
        }
    }
}

.impediments-links {
    text-align: right
}

.impediments-buttons {
    margin-top: 7px;
    margin-bottom: 11px;
}

.scrollable-body {
    background-color: #f1f1f1!important;
}

.bk-buttonbar {
    display: inline-block;
}

.modal-dialog .bk-buttonbar {
    width: 100%;
}

.impediments-buttons input[type=checkbox] {
    vertical-align: middle;
    margin: 0 5px 0 0;
}

.bk-required {
    background-color: #ffcc01;
    color: #017a99;
    font-size: 14px;
}

.impediments-buttons .bk-with-icon {
    margin-right: 20px;
}
